################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Release
/.vs/HeroApi
/HeroApi/bin
/HeroApi/obj
/obj
/Orm/bin
/Orm/obj
